<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    {# Google Fonts - Poppins #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap" rel="stylesheet">

    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif %}

    <meta name="google-site-verification" content="IwdUHU1XbnDw_gDyu5C-5Q7nk3TxdNG016JiKHvHcSU" />

    <title>
      {% if title %}
        {{ title }}
      {% else %}
        {{ settings.title }}
      {% endif %}
    </title>

    {# Meta Description #}
    {% if description %}
      <meta name="description" content="{{ description }}"/>
      <meta name="og:description" property="og:description" content="{{ description }}">
      <meta name="twitter:description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ settings.description }}"/>
      <meta name="og:description" property="og:description" content="{{ settings.description }}">
      <meta name="twitter:description" content="{{ settings.description }}">
    {% endif %}

    {# Meta Title #}
    {% if title %}
      <meta name="og:title" property="og:title" content="{{ title }}">
      <meta name="twitter:title" content="{{ title }}">
    {% else %}
      <meta name="og:title" property="og:title" content="{{ settings.title }}">
      <meta name="twitter:title" content="{{ settings.title }}">
    {% endif %}

    {# Meta Type #}
    {% if type %}
      <meta name="og:type" property="og:type" content="{{ type }}">
    {% else %}
      <meta name="og:type" property="og:type" content="{{ settings.type }}">
    {% endif %}

    <meta name="og:site_name" property="og:site_name" content="{{ settings.title }}">
    <meta name="twitter:site" content="{{ settings.title }}">
    <meta name="og:locale" property="og:locale" content="en_GB">
    <meta name="og:url" property="og:url" content="{{ env.site }}{{ page.url }}">

    {# Canonical URL #}
    <link rel="canonical" href="{{ env.site }}{{ page.url }}" />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    {# Schema.org Structured Data - Organization #}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "{{ settings.siteName }}",
      "description": "{{ settings.description }}",
      "url": "{{ env.site }}",
      "logo": "{{ env.site }}{{ settings.logoUrl }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "57a Broadway",
        "addressLocality": "Leigh-On-Sea",
        "addressRegion": "Essex",
        "postalCode": "SS9 1PE",
        "addressCountry": "GB"
      },
      "sameAs": [
        "https://www.linkedin.com/company/arragon-digital-limited",
        "https://www.facebook.com/arragondigital"
      ]
    }
    </script>

    {# Schema.org Structured Data - WebSite #}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ settings.siteName }}",
      "url": "{{ env.site }}",
      "description": "{{ settings.description }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ settings.siteName }}"
      }
    }
    </script>

    {% if env.isProd %}
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
          'ad_user_data': 'denied',
          'ad_personalization': 'denied',
          'ad_storage': 'denied',
          'analytics_storage': 'denied',
          'wait_for_update': 500,
        });
        gtag('js', new Date());
        gtag('config', 'G-3EDFESHGSR');
      </script>
    {% endif %}
  </head>

  <body class="bg-white">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js" defer></script>

    {% if env.isProd %}

      {% include "./partials/cookie-consent.html" %}

      <script>
        const grantConsentButton = document.getElementById('grant-consent');

        grantConsentButton.addEventListener("click", function() {
          localStorage.setItem("consentGranted", "true");

          loadGtagScript();
        });

        if(localStorage.getItem("consentGranted")) {
          loadGtagScript();
        }

        function loadGtagScript() {
          function gtag() { dataLayer.push(arguments); }

          gtag('consent', 'update', {
            ad_user_data: 'granted',
            ad_personalization: 'granted',
            ad_storage: 'granted',
            analytics_storage: 'granted'
          });

          var gtagScript = document.createElement('script');
          gtagScript.defer = true;
          gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-3EDFESHGSR';

          var firstScript = document.getElementsByTagName('script')[0];
          firstScript.parentNode.insertBefore(gtagScript,firstScript);
        }
      </script>
    {% endif %}
  </body>
</html>
